@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,400;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.icon-image {
    
    border-style: none;
}

/* Header Component */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1.5rem;
}

nav {
    display: flex;
    justify-content:space-around;
    width:100%;
}

nav a {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    text-decoration:none;
    font-size: 1.25 rem;
    color: #5b486f;
}

/* Hero Component */
#hero {
    display: flex;
    flex-direction: column;
    align-items:center;
    background: #8980c2 url(../docs/patterns3.jpg) 33% no-repeat;
    background-size:cover ;
    padding:2rem 0;
}

#hero h1{
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size:2.5rem;
    font-weight: normal;
    margin: 1rem 0;
}

#hero h1 {
    color:white;
}
#hero img{
   
    width: 66%;
    border-radius:50%;
}

/* main component */
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

main h2 {
    
    font-weight: normal;
    margin: 1rem 0 0;  
}


main article {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 1rem 2rem;
}   

main section {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 1rem 2rem;
} 

main article img {
    width: 75%;
    border-radius: 50%;
    
    /* border: 4px solid #8980c2;  */
}

main article h3 {
    margin: 1rem 0;
    font-weight: normal;
    font-size: 1.5rem;
    color:#8980c2;
} 

main article p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;

}

main article a {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;

}

footer {
    text-align: center;
    padding: 1rem;
}

footer p {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size:1.25 rem;

}

/*Blog post component */
.post {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 1rem 2rem 2rem;
}   

.post img {
    width: 66%;
     border-radius: 5%; 
    
    /* border: 4px solid #8980c2;  */
}

.post p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

}

/* Social links component */
#social-links {
   
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1rem 0;
}
#social-links p{
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size:1.1rem;
    margin-bottom:1rem;
}
#social-links > div{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
}

/* *** TABLET STYLES *** */
@media only screen and (min-width:550px){
    header {
        margin-top: 0.5 rem;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
    }

    #brand {
        margin-left: 1.5 rem;
        width: 25%;
       
        margin-bottom: 0;
        /* margin-bottom:1rem; */
    }



}

@media only screen and (min-width:800px){

    #hero img{
   
        width: 40%;
        
    }   

}

@media only screen and (min-width:750px){
    main{
        flex-direction:row;
        justify-content: center;
        align-items:center;
        flex-wrap: wrap;
        margin-bottom: 0.5 rem;
        
    }
    main h2 {
        width: 100%;
        text-align:center;
       
    }
    main article{
        width: 33.33%
    }

    main .post {
        width:50%;
    }



}

/* *** DESKTOP STYLES *** */
@media only screen and (min-width:1000px){
    header {
        padding: 0.5rem 0 1 rem;
        justify-content: space-between;
    }
    
    #brand {
        margin-left: 1.5rem;
        /* margin-top: 1.5rem; */
        width: 7%;
    }

    header nav{
        width: auto;
        
    }

    header nav a {
        margin: 0 1rem;
        margin-right: 1.5 rem;
    }

    #hero img{
   
        width: 20%;
        border-radius:50%;
    }
}